@using Movies.Core.Extensions
@model Movies.Web.Models.Movies.MovieSearchResults

@{
  ViewData["Title"] = "Search Results";
}

<section class="movies" id="movies">
  <h2>Search Results</h2>
  <h3>Search: You searched for "@Model.Title" within the year: "@Model.Year"</h3>

  <partial name="Partials/SearchMovies" />

  <div class="row">
    @if (!Model.Movies.IsNullOrEmpty())
    {
      foreach (var movieSummary in Model.Movies)
      {
        <partial name="Partials/MovieSummary" model="movieSummary" />
      }
    }
    else
    {
      <h2>Your search returned no results</h2>
    }
  </div>
</section>

@section Scripts
{
  @await Html.PartialAsync("Partials/_ValidationScriptsPartial")
}

@if (!string.IsNullOrWhiteSpace(Model.MoveListingStructuredData))
{
  @section StructuredData
  {
    <script type="application/ld+json">
      @Html.Raw(Model.MoveListingStructuredData)
    </script>
  }
}